
.footer-1{
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.footer-1-img{
    width: 635px;
    height: 800px; 
    margin-bottom: 0;
    margin-top: 50px;
    padding-bottom: 0;
    margin-right: 140px;

}
.footer-set{
    display: flex;
    justify-content: space-around;
}
.footer-content{
    margin-top: 140px;
    margin-left: 240px;
    margin-right: 200px;
    
   
}
.footer-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
}
.footer-description{
    margin-right:0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}
.btn-custom{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: 0;



}
/* part two css */
.section-3-sum{
    width: 1920px;
    background-color: #FFF;;
}

.content-of-section-3{
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
    background-color: #FFF;;
}

.section-3-imgs{
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-2-imgs{
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-1-imgs{
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

#img-one-of-three{
    
    width: 310px;
    height: 428px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-left: 55px;


}
#img-two-of-three{
    width: 310px;
    height: 428px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-left: 70px;
}
#img-three-of-three{
    width: 370px;
    height: 370px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-left: 50px;

}
.content-of-section-5{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;

}
.section-two-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 600px;
    padding-left: 650px;

}

.section-three-title{
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}
/*CSS of  Service Section */
.service{
    margin-left: 240px;
    margin-right: 240px;
    background: rgba(39, 39, 39, 0.05); 
    width: 1440px;
    height: 320px;
    display: flex;
    justify-content: space-around;
    padding-top: 130px;
    padding-bottom: 0;
}

.service-name{
    display: flex;
    justify-content: space-around;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
   
    

}
#service-img-one{
    padding-left: 140px;
}

#service-img-two{
    padding-left: 120px;
}
#service-img-three{
    padding-left: 60px;
}

/* Hot Deal Part's CSS */
.section-fourth{
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background :rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    display: flex;
    justify-content: space-around;


}
.section-fourth-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.section-fourth-contant{
    margin-top: 200px;
    justify-content: center;
    margin-left: 200px;
}
span{
    color: #E55473;
    
}
.section-fourth-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 600px;

}
.section-fourth-button{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-left: 200px;
}
#section-fourth-img{
    margin-top:130px ;
    margin-right: 200px;
}

.section-five-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    width: 600px;
    padding-left: 650px;

}
.section-fifth{
    width: 1920px;

}
.section-fifth-img{
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
}

/* Style of section sixth */
.section-6th{
    margin-top: 150px;
    margin-bottom: 150px;
    width: 1440px;
    height: 449px;
    margin-left: 240px;
    margin-right: 240px;
    background-image: url('asset/rectangle\ 9.png');
}
.section-6th-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.section-6th-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
}
.section-6th-input{
    width: 700px;
    border-radius: 8px;
    background: #FFF;
    height: 64px;
    border: 0;
    
}

.section-6th-contant{
    padding-top: 60px;
  align-items: center;
  
   
}
.input{
    display:inline-block;
    justify-content: space-between;
    margin-left: 280px;
 
}
.btn-custom-new{
    height: 64px;
    width: 150px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: 0;
    
}
/* Footer part */
.footer-last{
    padding-top: 120px;
    width: 1920px;
    height: 400px;
    background: #111010;
}
.footer-last-title{
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    color: #FFF;
    text-align: center;
}

.footer-last-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
}
.footer-last-line{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}