.footer-1{
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.footer-1-img{
    width: 635px;
    height: 800px; 
    margin-bottom: 0;
    margin-top: 50px;
    padding-bottom: 0;
    margin-right: 140px;

}
.footer-set{
    display: flex;
    justify-content: space-around;
}
.footer-content{
    margin-top: 140px;
    margin-left: 240px;
    margin-right: 200px;
    
   
}
.footer-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
}
.footer-description{
    margin-right:0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}
.btn-custom{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: 0;



}
/* part two css */
.section-3-sum{
    width: 1920px;
    height: 4867px;
    background-color: #FFF;;
}

.content-of-section-3{
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
    background-color: #FFF;;
}

.section-3-imgs{
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-2-imgs{
    width: 464px;
    height: 538px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.section-1-imgs{
    width: 464px;
    height: 538px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}

#img-one-of-three{
    
    width: 310px;
    height: 428px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-left: 55px;


}
#img-two-of-three{
    width: 310px;
    height: 428px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-left: 70px;
}
#img-three-of-three{
    width: 370px;
    height: 370px;
    padding-bottom: 0;
    margin-top: 110px;
    margin-left: 50px;

}
.content-of-section-5{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;

}
.section-two-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}

.section-three-title{
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;

}